<div class="well center">

  <h1>Login</h1>

  <% if flash[:errors] %>
  <div class="errors">
    <%= flash[:errors] %>
  </div>
  <% end %>

  <%= form_for(:session, url: login_path) do |f| %>
  <div class="form-inline">
    <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email %> <br>
    </div>

    <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password %> <br>
    </div>

    <%= f.submit "Login", class: "btn btn-default" %>
    <div class="btn btn-default" role="button">
      <%= link_to "Create Account", new_user_path, style: "color:blue;"%>
    </div>
  </div>
  <% end %>
</div>
