<div class="well">
  <div class="btn btn-default btn-sm active" role="button">
    <%= link_to "Login", login_path, style: "color: blue;" %>
  </div>

  <h1>Create a new account</h1>

  <% if flash[:errors] %>
    <div class="errors">
    <% flash[:errors].each do |message| %>
      <%= message %>
    <% end %>
    </div>
  <% end %>

  <%= form_for(:user, url: users_path) do |f| %>
    <div class="form-inline">
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email %> <br>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password %> <br>
      </div>

      <div class="form-group">
        <%= f.label :confirmation %>
        <%= f.password_field :confirmation %> <br>
      </div>

      <%= f.submit "Create Account", style: "color: black;", class: "btn btn-defatult" %>
    </div>
  <% end %>
</div>
