<% if flash[:notice] %>
<div class="notice">
  <% flash[:notice].each do |message| %>
  <%= message %>
  <% end %>
</div>
<% end %>

<h2>Add A New Link</h2>
<% if flash[:errors] %>
<div class="errors">
  <% flash[:errors].each do |message| %>
  <%= message %>
  <% end %>
</div>
<% end %>

<%= form_for :link, url: '/links' do |f| %>
<%= f.label :title %>:
<%= f.text_field :title %><br />

<%= f.label :url %>:
<%= f.text_field :url %><br />

<%= f.submit "Create New Link"%>
<% end %>

<h1>My Links</h1>
<hr>
<% @links.each do |link| %>
<div class="row"  data-id="<%=link.id%>"
                boolean-status="<%=link.read?%>"
                id="link-<%=link.id%>">
 <ul class="col"> <h3><%= link.title %></h3>
    <li>Url: <%= link.url %></li>
    <li class="read-status">Read? <%= link.read %></li>
  </ul>
  <button class="read">Mark as Read</button>
  <button class="unread">Mark as Unread</button>
  <td><%= button_to 'Edit', edit_link_path(link), method: :get %></td>
</div>
<% end %>
